<div>
    <h1>This will be my calculators page</h1>
    <div class="container">
        <h2>Efficiency Calculator</h2>
        <p>Base Malt Amount: <input type="number" ng-model="BMA"></p>
        <p>Estimated Points per Pound per Gallon: <input type="number" ng-model="PPG"></p>
        <p>Batch Size: <input type="number" ng-model="batch"> </p>
        <p>Target Gravity: <input type="number" ng-model="target"></p>

        <p>Your Efficiency is {{((BMA * PPG / batch)/1000 - target) *100 }}</p>
        <p>Your gravity is {{ gravity() }}</p>
    </div>
    <div class="container" data-ng-controller="CalculatorsCtrl">
        <h2>Colour Calculator</h2>

        <div class="row"style="padding-bottom:15px">
            <div title="Lovibond" class="col-xs-6 col-sm-4">Lovibond<input type="number" ng-change="Lovibond()" ng-model="Lovibond"></div>
            <div title="SRM" class="col-xs-6 col-sm-4">SRM<input type="number" ng-model="SRM"></div>
         </div>
        <p>Lovibond to SRM = {{ SRM() }}</p>
        <p>SRM to Lovibond = {{ Lovibond() }}</p>
    </div>
</div>