<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Track your Brewing!</h1>
    <div class="row">
      <div class="col-md-8">
        <p>You can track the recipies for past brews as well as access tools and calculators.</p>
        <p><a class="btn btn-primary btn-lg" href="#/about" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <form name="registrationForm" data-ng-controller="RegistrationCtrl as Registration" data-ng-submit="Registration.register(registrationForm.$valid)">
          <input type="text" class="form-control" placeholder="First Name" data-ng-model="Registration.firstName" required data-ng-maxlength="100">
          <input type="text" class="form-control" placeholder="Last Name" data-ng-model="Registration.lastName" required data-ng-maxlength="100">
          <input type="email" class="form-control" placeholder="Email Address" data-ng-model="Registration.email" required data-ng-maxlength="100">
          <input type="password" class="form-control" placeholder="Password" data-ng-model="Registration.password"  required data-ng-maxlength="100">
          <input class="btn btn-primary btn-md form-control" type="submit" value="Register">
          <span>{{Registration.registered}}</span>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="starter-template">
    <h1>Welcome to BrewTracker</h1>
    <p class="lead">You can track the recipies for past brews as well as access tools and calculators.<br>Here are some features we are hoping to include:<br>
      <ul>
        <li>Share brew recipes with your friends</li>
        <li>Export recipes into a simple text format</li>
        <li>Have countdown timers and alarms</li>
        <li>Save all your recipes in a single place</li>
        <li>Search over previous recipes so you can brew them again</li>
        <li>Simple brew day calculators including:
          <ul>
            <li>Mash in temperature based on grain volume and temp</li>
            <li>Target SG based for high gravity boils and additional liquid</li>
            <li>Mash efficiency</li>
          </ul>
        </li>
      </ul>
    </p>
  </div>

</div><!-- /.container -->


