<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="#contact">Contact</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
<!--     <div id="loginin" data-ng-controller="LoginCtrl as login">
      <input>
      <input>
      <button>
    </div> -->
  </div>
</nav>

<div class="container">

  <div class="starter-template">
    <h1>Welcome to BrewTracker</h1>
    <p class="lead">You can track the recipies for past brews as well as access tools and calulators.<br>Here are some features we are hoping to include:<br>
      <ul>
        <li>Share brew recipies with your friends</li>
        <li>Export reciepies into a simple text format</li>
        <li>Have countdown timers and alarms</li>
        <li>Save all your recipies in a single place</li>
        <li>Search over previous recipies so you can brew them again</li>
      </ul>
    </p>
  </div>

</div><!-- /.container -->


